body {
  font-family: "Lato", "Helvetica", "sans-serif";
  margin: 0;
  padding: 10px;
  font-size: 3em;
  color: #002868;
  text-decoration: none;
}

.field {
  margin: 20px 0 0 0;
}

.field__textinput {
  font-size: 1em;
  padding: 15px 0;
  text-align: center;
  min-width: 500px;
}


/*
  Section styles
 */
.card {
  display: none;
}

.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center;
}


/*
  Button styles
 */

.btn {
  text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
  min-width: 260px;
}

.btn--orange {
  border-color: #FF4136;
  color: white;
  background-color: #FF4136;
}

.btn--blue {
  border-color: #0074D9;
  color: white;
  background-color: #0074D9;
}

.btn--green {
  border-color: #008000;
  color: white;
  background-color: #008000;
}

.btn--dkyellow {
  border-color: #DAA520;
  color: white;
  background-color: #DAA520;
}

.btn--yellow {
  border-color: #E4BD00;
  color: white;
  background-color: #F3C500;
}

.btn--big {
  font-size: 28px;
  padding: 10px;
  font-weight: 400;
}

.btn--small {
  min-width: 50px;
}

.btn__prompt {
  background-color: white;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: -10px;
  font-weight: 600;
  background-color: #333;
  opacity: .4;
  border-radius: 5px 0 0 5px;
  left: 37px;
  float: left;
}

.btn__text {
  padding: 0 50px 0 20px;
  border-radius: 0 5px 5px 0;
}

.btnDebate,
.btnCanada,
.btnFacts {
  margin: 2px;
}

.btnCanada,
.btnFacts {
  width: 75%;
  height: auto;
  text-decoration: none;
}

.btnDebate {
  background-color: #BF0A30; /* Red */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.col-md-6 {
  text-align: center;
}

.bgBackground {
  position: relative;
  z-index: -1;
  width: 100%;
  margin-bottom:10px;
}

.bodies {
  position: relative;
  z-index: 10;
}

.heads {
  position: relative;
  z-index: 100;
}

.bgWords {
  position: relative;
  z-index: 1000;
  background: #002868;
  color: white;
  padding:10px;
  height:200px;
  text-align: center;
}

.bgMain {
  height: 700px;
  width: 100%;
}

/* standardizedBGImages applies to the following 5 classes listed below 
(.bgMainImage through .trump) in the index.html file */
.standardizedBGImages {
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}


.bgMainImage {
  background-image: url("/images/battleground-background.png");
}

.femaleBody {
  background-image: url("/images/female-body.png");
}

.maleBody {
  background-image: url("/images/male-body.png");
}

.hillary {
  background-image: url("/images/clinton-head.png");
}

.trump {
  background-image: url("/images/trump-head.png");
}

.centerThis {
  text-align: center;
}

.bottomButtons {
  padding-top: 20px;
}
{}

.btnNewGame {
  background-color: #002868; /* Blue */
  border: none;
  color: white;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.muddyWords {
  background:rgba(0,0,0,0.8);
  color: white;
  margin-top: 200px;
  border-radius: 10px;
}